.splash {
    background: -webkit-radial-gradient(#41a3ff, #0273D4);
    background: radial-gradient(#41a3ff, #0273D4);
    color: #fff;
    text-align: center;
    box-shadow: inset 0 -16px 16px -16px rgba(0,0,0,0.28);
    padding: 130px 0 70px 0;
}

.altsplash {
    background: -webkit-radial-gradient(#e2e6eb, #e2e5e9);
    background: radial-gradient(#e2e6eb, #e2e5e9);
    color: #fff;
    text-align: center;
    box-shadow: inset 0 -16px 16px -16px rgba(0,0,0,0.28);
    padding: 130px 0 70px 0;
}

.techcard {
    display: block;
    text-decoration: none;
    color: #000;
    background: #fff;
    padding: 15px;
    border-radius: 2px;
    border: 1px solid #e9f0f3;
    text-align: left;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
}
